   {% extends 'users/base.html' %}
{% block content %}
 <style type="text/css">
        ul.errorlist li {
            margin-left: 25px;
            margin-bottom: 20px;
            margin-top: 10px;
        }
    </style>
    <div id="main-container">
 <h1 style="text-align: center;
            font-family: 'Alegreya', serif;
            font-size: 20px;
            color: #929292;">Change password</h1>
            <hr>
       
        {{msg}}
        <form style="margin:0 auto; width:600px;margin-top: 50px;"  action = "." method="post">

        {% csrf_token %}

        {{ form.as_p }}<br>
        <button type="submit" class="button green">Change</button>
        </form>

            </div>
{% endblock %}