oposod/local_settings.py
.ipynb_checkpoints/
.ipynb_checkpoints/*
Untitled.ipynb
Untitled1.ipynb
amit_yadav_notebook_shell.ipynb
npm-debug.log
.idea/*
bin/*
obj/*
celeryev.pid
web.debug.config
*.pyproj
*.user
dump.rdb
*.pyc
collectedstatic/*
acollectedstatic/*
logs/*
uploads/*
*.swp
*.swo
Thumbs.db
data/*
solr-home/products_solr/data/*
solr-home-new/products_solr/collection1/data/*
solr-home-5.3.1/products/data/*
.project
.pydevproject
.settings/org.eclipse.core.resources.prefs
.DS_Store
cscope.out
documentation/
test-reports/

.vscode/
.vs/


static/js/app/*_nav-data.js
static/build-js/
static/build-css/
.tscache/
.idea/
.reviewboardrc
