Django
Pillow
Twisted
Whoosh
argparse
autobahn
distribute
#django-bootstrap-toolkit
django-extensions
django-haystack
django-hstore
django-image-cropping
djorm-ext-core
djorm-ext-expressions
#djorm-ext-pgarray
easy-thumbnails
httplib2
ipython
pep8
psycopg2
pyflakes
python-memcached
redis
wsgiref
zope.interface
#django-facebook
django-storages
boto
