/* glue: 0.3 hash: 2a14bf4b4d */
.sprite-images-upload_big,
.sprite-images-logout1,
.sprite-images-favicon,
.sprite-images-ewww1,
.sprite-images-Winky,
.sprite-images-WTF,
.sprite-images-Upset,
.sprite-images-Tipsy,
.sprite-images-Pissed,
.sprite-images-Oopss,
.sprite-images-OMG,
.sprite-images-Naughty1,
.sprite-images-Naughty,
.sprite-images-Muaaaaah,
.sprite-images-LOL,
.sprite-images-In_Love,
.sprite-images-High,
.sprite-images-Foodie,
.sprite-images-Flirtatious,
.sprite-images-Ewww,
.sprite-images-Embarressed,
.sprite-images-Awesome,
.sprite-images-Attitude,
.sprite-images-upload_small,
.sprite-images-no_of_views,
.sprite-images-likes_on,
.sprite-images-likes_off,
.sprite-images-comments,
.sprite-images-not2,
.sprite-images-likes,
.sprite-images-settings1,
.sprite-images-home_icon3,
.sprite-images-calendar{background-image:url('../images/images.png');background-repeat:no-repeat}
.sprite-images-upload_big{background-position:0px 0px;width:256px;height:256px;}
.sprite-images-logout1{background-position:-256px 0px;width:122px;height:31px;}
.sprite-images-favicon{background-position:-256px -31px;width:64px;height:62px;}
.sprite-images-ewww1{background-position:-320px -31px;width:45px;height:45px;}
.sprite-images-Winky{background-position:-256px -93px;width:45px;height:45px;}
.sprite-images-WTF{background-position:-301px -93px;width:45px;height:45px;}
.sprite-images-Upset{background-position:-256px -138px;width:45px;height:45px;}
.sprite-images-Tipsy{background-position:-301px -138px;width:45px;height:45px;}
.sprite-images-Pissed{background-position:-256px -183px;width:45px;height:45px;}
.sprite-images-Oopss{background-position:-301px -183px;width:45px;height:45px;}
.sprite-images-OMG{background-position:0px -256px;width:45px;height:45px;}
.sprite-images-Naughty1{background-position:-45px -256px;width:45px;height:45px;}
.sprite-images-Naughty{background-position:-90px -256px;width:45px;height:45px;}
.sprite-images-Muaaaaah{background-position:-135px -256px;width:45px;height:45px;}
.sprite-images-LOL{background-position:-180px -256px;width:45px;height:45px;}
.sprite-images-In_Love{background-position:-225px -256px;width:45px;height:45px;}
.sprite-images-High{background-position:-270px -256px;width:45px;height:45px;}
.sprite-images-Foodie{background-position:-315px -256px;width:45px;height:45px;}
.sprite-images-Flirtatious{background-position:0px -301px;width:45px;height:45px;}
.sprite-images-Ewww{background-position:-45px -301px;width:45px;height:45px;}
.sprite-images-Embarressed{background-position:-90px -301px;width:45px;height:45px;}
.sprite-images-Awesome{background-position:-135px -301px;width:45px;height:45px;}
.sprite-images-Attitude{background-position:-180px -301px;width:45px;height:45px;}
.sprite-images-upload_small{background-position:-225px -301px;width:42px;height:42px;}
.sprite-images-no_of_views{background-position:-346px -93px;width:24px;height:30px;}
.sprite-images-likes_on{background-position:-346px -138px;width:30px;height:30px;}
.sprite-images-likes_off{background-position:-346px -183px;width:30px;height:30px;}
.sprite-images-comments{background-position:-267px -301px;width:30px;height:30px;}
.sprite-images-not2{background-position:-256px -228px;width:25px;height:20px;}
.sprite-images-likes{background-position:-297px -301px;width:25px;height:25px;}
.sprite-images-settings1{background-position:-281px -228px;width:20px;height:20px;}
.sprite-images-home_icon3{background-position:-301px -228px;width:20px;height:20px;}
.sprite-images-calendar{background-position:-321px -228px;width:20px;height:20px;}
