{% extends "users/base.html" %}
{% load url from future %}
{% block content %}
    <style type="text/css">
    h1 {
            text-align: center;
            font-family: 'Alegreya', serif;
            font-size: 100px;line-height: 1.2em;
            color: #929292;
            background: #f6f8f9;
            padding: 20px;
            margin-top: 20px;
        }
        p {
            margin: 0 auto;
    padding: 30px 0 0 0;


    text-align: center;
    width: 960px;
    font-size: 60px;
    font-family: 'Imprima', sans-serif;
    font-weight:600;
    margin: 0 auto;
    color: #851C31;
        }
        h2 {
        	font-size: 12px;
        	text-align: center;
        }
</style>
<p>OPOSOD</p>
<h1>404, This page does not exist.</h1>
<h2>Or you don't have permission to visit this page</h2>
<center style="margin-top:30px;">
<form>
    <input id="search" style="margin-bottom: 60px;width:50%;" type="text" placeholder="Search Oposod..."/>
</form>
<a href="/" class="button blue">Home</a>
</center>
{% endblock %}